html,
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#root {
  background: rgb(174, 192, 192);
}

/* .container {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 0;
} */

/* input {
  font-size: 14px;
  }*/

h1 {
  color: black;
  font-size: 1.4em;
  margin: 0;
  text-align: center;
}

.marker-info > h2 {
  font-size: 1.2em;
  text-align: center;
}

.marker-info {
  max-width: 290px;
  max-height: 190px;
  margin: 0;
}

.marker-info div {
  color: black;
  padding: 10px;
}

.marker-info p {
  font-size: 1em;
  text-align: justify;
}

.marker-info a {
  color: blue;
  font-size: 0.875em;
  padding: 10px;
}

#map {
  bottom: 0px;
  width: 75%;
  max-width: 724px;
  height: 93%;
  /*left: 362px;*/
  position: absolute;
  left: 300px;
}

.sidebar {
  background: rgb(174, 192, 192);
  color: white;
  /*border: 1px solid #999;*/
  border-radius: 3px;
  width: 300px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: center;
  z-index: 1;
  position: absolute;
  left: 0;
}

#menu {
  width: 98%;
  height: 48px;
  color: black;
  border: 5px solid #222;
  font-size: 1.1em;
}

#sidebar-info {
  width: 90%;
  margin: auto;
  background: white;
  color: black;
  font-size: 1.1em;
  padding: 5px;
  line-height: 1.5em;
  text-align: justify;
}

#sidebar-info p {
  padding: 10px;
}

#hamburger-bar {
  position: fixed;
  width: 100%;
  max-width: 1024px;
  height: 7%;
  background: rgb(35, 206, 206);
}

@media screen and (max-width: 500px) {
  .sidebar {
    z-index: 2;
    width: 85%;
    transition: 0.4s;
  }

  .sidebar-in {
    left: -400px;
  }


  #map {
    width: 100%;
    left: 0;
  }
  .hamburger {
    display: block;
    height: 5px;
    width: 40px;
    background-color: black;
    margin: 6px 0;
  }
  .bap {
    float: right;
    padding-right: 8px;
  }
}
